{% extends "plantilla.html" %}
{% block titulo %}Sistema Cesic{% endblock titulo %}

{% block contenido %}

<div id="loginbg">
	<div id="login">
	{% if form.errors %}
	<p class="error">Error al loguear, los datos no coinciden...</p>
	{% endif %}
	<form method="post" action='/ingresar/'> {% csrf_token %}
		<p id="plog">Acceso</p>
		<p><input type="text" name="username" value="" placeholder="Ingrese su Matricula"></p>
		<p><input type="password" name="password" value="" placeholder="Ingrese Su Contraseña"></p>
		<p class="submit"><input type="submit" name="commit" value="Entrar"></p>
	</form>

	</div>
</div>		


{% endblock contenido %}

      	
      	

