{% extends "plantilla.html" %}


{% block titulo %}C E S I C - Oferta Educativa{% endblock titulo %}


{% block contenido %}
<div id="OEducativa-contenido">
{% for dato in datos %}
<section class="OEduc">
  
  <section id="Licenciatura">
  <aside id="fimg"> 
    <img src='{{MEDIA_URL}}{{dato.imagen}}' alt=""></aside>
 
  <a name="LSistemas"><h1 >{{dato.Nombre|title}}</h1></a>
 
  <section>
    <h2>Perfil de Ingreso</h2>
    <p>{{dato.perfil_ingreso}}</p>
    <br>
  </section>
  <section>
    <h2>Perfil del egresado</h2>
    <p>{{dato.Perfil_egreso}}</p>
  </section>

  <h2><a href="{{STATIC_URL}}img/LIFA.pdf">Ver Mapa Curricular</a></h2>
   {% endfor %}
  
  </section>
</section>
{% endblock contenido %}