{% extends "plantilla_SAED.html" %}


{% block titulo %}C E S I C - SAED{% endblock titulo %}


{% block contenido %}
<h1>Bienvenido alas Encuestas.</h1>
	<h2>Evaluacion del Docente.</h2>
	<h4>Esta evaluación tiene como fin mejorar el servicio que se les da como alumnos de esta institución. Por ningún motivo el profesor tomará represalias hacia el alumno, en caso de  no salir favorecido con su opinión.</h4>
	<h4>Seleccione lo que considera es real según si criterio.</h4>

	<p>Puntualidad</p>
	<input type="radio" name="puntualidad" value="Nunca"> Nunca<BR>
    <input type="radio" name="puntualidad" value="A veces"> A veces<BR>
    <input type="radio" name="puntualidad" value="Siempre"> Siempre<BR>

	<p>Da varios ejemplos de los temas vistos</p>
	<input type="radio" name="puntualidad" value="Nunca"> Nunca<BR>
    <input type="radio" name="puntualidad" value="A veces"> A veces<BR>
    <input type="radio" name="puntualidad" value="Siempre"> Siempre<BR>

	<p>Sus clases son entendibles</p>
	<input type="radio" name="puntualidad" value="Nunca"> Nunca<BR>
    <input type="radio" name="puntualidad" value="A veces"> A veces<BR>
    <input type="radio" name="puntualidad" value="Siempre"> Siempre<BR>

    <p>Dominio del tema</p>
	<input type="radio" name="puntualidad" value="Nunca"> Nunca<BR>
    <input type="radio" name="puntualidad" value="A veces"> A veces<BR>
    <input type="radio" name="puntualidad" value="Siempre"> Siempre<BR>

	<p>Asistencia</p>
	<input type="radio" name="puntualidad" value="Nunca"> Nunca<BR>
    <input type="radio" name="puntualidad" value="A veces"> A veces<BR>
    <input type="radio" name="puntualidad" value="Siempre"> Siempre<BR>

	<p>Sus exámenes son entendibles</p>
	<input type="radio" name="puntualidad" value="Nunca"> Nunca<BR>
    <input type="radio" name="puntualidad" value="A veces"> A veces<BR>
    <input type="radio" name="puntualidad" value="Siempre"> Siempre<BR>

    <p>Es amable con sus alumnos</p>
	<input type="radio" name="puntualidad" value="Nunca"> Nunca<BR>
    <input type="radio" name="puntualidad" value="A veces"> A veces<BR>
    <input type="radio" name="puntualidad" value="Siempre"> Siempre

     <p>Hace bromas pesadas hacia sus alumnos</p>
	<input type="radio" name="puntualidad" value="Nunca"> Nunca<BR>
    <input type="radio" name="puntualidad" value="A veces"> A veces<BR>
    <input type="radio" name="puntualidad" value="Siempre"> Siempre
{% endblock contenido %}