h1,
h2,
h3,
h4 {
  font-family: 'JEBold';
}
p,
li,
a,
input,
textarea,
label {
  font-family: 'JERegular';
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
@font-face {
  font-family: "JEBold";
  src: url('../RobotoCondensed-Bold.ttf'), url('../RobotoCondensed-BoldItalic.ttf');
}
@font-face {
  font-family: "JERegular";
  src: url('../RobotoCondensed-Regular.ttf');
}
body {
  margin: 0px auto;
  width: 100%;
  background-color: #DFD6D6;
}
#jd {
  /*contenedor general*/

  min-width: 750px;
  width: 100%;
  max-width: 1360px;
  margin: 0px auto;
  padding: 0px;
  border: 0px;
  background: #fdfdfd;
  min-height: 400px;
  overflow: hidden;
}
header {
  border-top: 4px #212121 solid;
  border-bottom: 4px #bc001f solid;
  box-shadow: 0 2px 3px #333333;
  height: 80px;
  background-color: #FFFFFF;
  min-width: 750px;
  width: 100%;
  max-width: 1360px;
  position: relative;
  z-index: 200;
  border-radius: 1px 1px 4px 4px;
  display: inline-block;
}
header #logo a img {
  width: 190px  ;
  height: 110px ;
  margin-top: 3px;
  border-radius: 8px;
  margin-left: 1%;
  box-shadow: 0 -2px 5px #d6d6d6;
  background-color: #FFFFFF;
}
header h1 {
  display: inline-block;
  position: absolute;
  z-index: 6;
  right: 10px;
  margin-top: 45px;
  font-size: 1.4em;
  color: #2B2B2B;
}
nav {
  width: 70%;
  margin-left: 26%;
  margin-right: 5%;
  height: 20px;
  position: absolute;
  z-index: 5;
  top: 0;
}
nav ul {
  margin: 0px auto;
  padding: 0px;
  border: 0px;
}
nav ul li {
  margin: 0px auto;
  padding: 0px;
  border: 0px;
  margin-left: 10px;
  display: inline-block;
}
nav ul li a p {
  margin: 0px auto;
  padding: 0px;
  border: 0px;
  color: #F7F7F7;
  background-color: #212121;
  padding: 2px 10px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 3px 4px rgba(51, 51, 51, 0.4);
}
a.Cesion {
  width: 100px;
  height: 20px;
  overflow: hidden;
  background: #333333;
  border-radius: 0 0 0 8px;
  border-left: 6px solid #a9132c;
  border-bottom: 1px solid #a9132c;
  position: relative;
  float: right;
  box-shadow: 1px 2px 2px #1a1a1b;
  font-weight: bold;
  top: 0px;
  padding-left: 10px;
  color: #fdfdfd;
  margin-left: -33px;
  -webkit-transition: color .5s ease-in-out;
  -moz-transition: color .5s ease-in-out;
  -o-transition: color .5s ease-in-out;
  -ms-transition: color .5s ease-in-out;
  transition: color .5s ease-in-out;
}
a.Cesion:hover {
  color: #cb0b2a;
  -webkit-transition: color .4s ease-in-out;
  -moz-transition: color .4s ease-in-out;
  -o-transition: color .4s ease-in-out;
  -ms-transition: color .4s ease-in-out;
  transition: color .4s ease-in-out;
}
.contenido {
  position: relative;
  top: 102px;
  margin-bottom: 90px;
  display: inline-block;
  width: 100%;
  min-width: 600px;
  min-height: 800px;
}
footer {
  font-size: .8em;
  position: relative;
  border-top: 2px solid #bc001f;
  width: 100%;
  height: 33px;
  display: inline-block;
  box-shadow: 1px 1px 2px #1a1a1b;
  background: url(../img/sub.png);
  background-repeat: repeat-x;
  background-position: 0% -30%;
}
footer p {
  margin: 0px auto;
}
#SaedMenuInicio {
  position: absolute;
  width: 100%;
  margin-top: -100px;
  border-bottom: solid 3px #bc001f;
  box-shadow: inset 0 -4px 3px #373737;
  padding-bottom: 20px;
}
#SaedMenuInicio li {
  width: 250px;
  display: inline-block;
  margin: 10px 55px 5px 2px;
}
#SaedMenuInicio li a img {
  box-shadow: inset 0 0 10px rgba(12, 12, 12, 0.3), 0 0 1px #bc001f;
  border-radius: 10px 20px 5px 5px;
  height: 150px;
  margin-left: 35px;
  background-color: rgba(240, 240, 240, 0.5);
  padding: 2px 10px 10px 10px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#SaedMenuInicio li a p {
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  color: #070707;
  text-shadow: 0 0 3px #0c0c0c;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#SaedMenuInicio li a:hover img {
  box-shadow: inset 0 0 0px rgba(12, 12, 12, 0.3), 0 0 12px #bc001f;
  border-radius: 10px 20px 15px 15px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#SaedMenuInicio li a:hover p {
  text-shadow: 0 0 3px rgba(130, 30, 30, 0.91);
  color: #890017;
  border-radius: 3px;
  padding-bottom: 2px;
  border-bottom: 2px solid #bc001f;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
