{% extends "plantilla.html" %}


{% block titulo %}Sistema Cesic{% endblock titulo %}

{% block contenido %}

<section class="Nosotros" id="Contacto">
  <div id="CMapa">
  <iframe width="100%" height="500px" frameborder="0" scrolling="no" marginheight="0" 
  marginwidth="0" src="https://www.google.com.mx/maps?f=q&amp;source=s_q&amp;
  hl=es-419&amp;geocode=&amp;q=Cesic,+Copainal%C3%A1&amp;
  aq=0&amp;oq=Copainal%C3%A1,ces&amp;sll=17.095603,-93.210411&amp;
  sspn=0.005917,0.010568&amp;t=h&amp;ie=UTF8&amp;hq=Cesic,&amp;
  hnear=Copainal%C3%A1,+Chiapas&amp;cid=10149711513085146872&amp;ll=17.089824,-93.210379&amp;
  spn=0.002564,0.006437&amp;z=18&amp;iwloc=A&amp;output=embed">
  </iframe><br/><small>
  </div>
  <div id="Cdir">
    <p>Dirección:
      <span> Calle Central S/N Barrio Concepción</span>
    </p>
  </div>
  <section class="CContact">
    <div id="CFormulario">
       <form action='' method="post">{% csrf_token %}
        {{form.as_p}}
        <input type="submit" value ="Enviar" class="button">
        
      </form>
    </div><div id="Cinfo">
    <h3>Comunicate con nosotros..</h3>
    <p>si tienes dudas,necesitas ayuda o alguna sugerencia puedes comunicarte con nosotros enviandonos un mensaje por   
    este medio muchas gracias.. </p>
    </div>
  </section>  
</section>  


    
{% endblock contenido %}