{% extends "publico/plantilla.html" %}


{% block titulo %}C E S I C - Nosotros{% endblock titulo %}


{% block contenido %}

	<section id ="Directorio">
		<div class="tiulo_Directorio">
			<span></span>
			<h4>Directorio</h4>
		</div>

		<ul><li><img src="{{ STATIC_URL}}img/noavatar.png" alt=""></li>
			<li>MTRA. ROCIO DEL CARMEN LINO PEREZ</li>
			<li>Lic. En Computación</li>
			<li>Mtra. En ciencias de la Computación con especialidad en Bases de Datos</li>
			<li>DIRECTORA</li>
		</ul>

		<ul><li><img src="{{ STATIC_URL}}img/noavatar.png" alt=""></li>
			<li>MTRO. JUAN MANUEL DE LA CRUZ GUZMAN</li>
			<li>Lic. en Administración de Empresas</li>
			<li>Mtro.  En Administración de Empresas</li>
			<li>SUBDIRECTOR</li>
		</ul>

		<div class="tiulo_Directorio">
			<span></span>
			<h4>Docentes</h4>
		</div>
		<ul>
			<li>DR. BLADIMIR JIMÉNEZ DEFERIA</li>
			<li>Lic. En Ciencias de la Educación</li>
			<li>Mtro. En Ciencias de la Educación</li>
			<li>Dr. En Educación</li>
			<li>DOCENTE</li>
		</ul>
		<ul>
			<li>MTRO. ROSEMBERG  VEÁZQUEZ LÓPEZ</li>
			<li>Lic. En Informática Administrativa</li>
			<li>Mtro. En Administración Pública</li>
			<li>DOCENTE</li>
		</ul>
		<ul>
			<li>MTRA. LORENA MATEO CALDERON</li>
			<li>Lic. En Derecho</li>
			<li>Mtra. En Derecho Penal</li>
			<li>DOCENTE</li>
		</ul>

		<ul>
			<li>MTRA. REYNA GUADALUPE ESTRADA ESTRADA</li>
			<li>Lic. En Mercadotécnica</li>
			<li>Mtra. En Evaluación Educativa</li>
			<li>DOCENTE</li>
		</ul>
		<ul>
			<li>MTRO. MAURILIO DOMINGUEZ AGUILAR.</li>
			<li>Lic. En Contaduría Pública</li>
			<li>Mtro. En Administración</li>
			<li>DOCENTE</li>
		</ul>
		<ul>
			<li>LIC. ALEJANDRA BERENICE HERNANDEZ RAMOS</li>
			<li>Lic. En Matemáticas</li>
			<li>DOCENTE</li>
		</ul>

			<ul>
				<li>LIC. ERNESTO GERARDO LÓPEZ VÁZQUEZ</li>
				<li>Lic. En Informática Administrativa</li>
				<li>DOCENTE </li>
			</ul>

			<ul>
				<li>LIC. MARIO LÓPEZ JIMÉNEZ</li>
				<li>Lic. En Sistemas Computacionales</li>
				<li>DOCENTE </li>
			</ul>

			<ul>
				<li>LIC. JAVIER EMMANUEL LÓPEZ JIMÉNEZ</li>
				<li>Lic. En Sistemas Computacionales</li>
				<li>DOCENTE </li>
			</ul>

			<ul>
				<li>LIC. ROSANEYRA CASTELLANOS GALLARDO</li>
				<li>Lic. En Informática Administrativa</li>
				<li>DOCENTE </li>
			</ul>

			<ul>
				<li>ING. ADEYMA SANTOS MUÑOZ</li>
				<li>Ing. Industrial</li>
				<li>DOCENTE </li>
			</ul>

			<ul>
				<li>MTRO. JESÚS CORAZÓN GALLARDO SARAOZ</li>
				<li>Lic. En Ciencias de la Educación con terminal en Ciencias Sociales</li>
				<li>Mtro. En Ciencias de la Educación.</li>
				<li>DOCENTE </li>
			</ul>

			<ul>
				<li>LIC. MARÍA LUCILA NÚÑEZ LÓPEZ</li>
				<li>Lic. En Lenguas y Literatura Hispanoamericana</li>
				<li>DOCENTE </li>
			</ul>

			<ul>
				<li>TEC. CANDELARIA KARINA GARCÍA SANTOS</li>
				<li>Tec. En El Idioma Inglés con Certificación TOEFL por la UNACH</li>
				<li>DOCENTE </li>
			</ul>

			<ul>
				<li>LIC. YARENI HERNANDEZ VÁZQUEZ</li>
				<li>Lic. En Contaduría Pública</li>
				<li>DOCENTE </li>
			</ul>



	</section>



{% endblock contenido %}