<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{% block titulo %} {% endblock titulo%} </title>
    <meta name="description" content="Sistema Educativo CESIC" />
    <meta name="keywords" content="Estudios,Universidad,Prepa Abierta" />
    <meta name="author" content="JAED"/>
    <link rel="shortcut icon" href="{{ STATIC_URL}}img/LogoSimple.png"> 

    {% block style %}  

    {% endblock style %}
      <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL}}css/style.less">
      <script type="text/javascript" src="{{STATIC_URL}}js/less.js"></script>
      <script type="text/javascript" src="{{STATIC_URL}}js/jquery-2.0.3.min.js"></script> 
      <script type="text/javascript" src="{{STATIC_URL}}js/jquery.leanModal.min.js"></script> 
      <script type="text/javascript" src="{{STATIC_URL}}js/menu_estatico.js"></script> 
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/styleIE.css" />
    <script type="text/javascript" src="{{ STATIC_URL}}js/modernizr.js" ></script>
    <![endif]-->
  </head>
  <body> 
    <section id="jd">
      <header>

        
<section id="header_a">
        <a href='/'> <img src="{{ STATIC_URL}}img/LogoSimple.png" alt="cesic"> </a>
          <h1>CESIC</h1><h2>Sistema Educativo</h2>
         <section id="header_b">
        <ul class="iconos">
          <li><a href='/contacto' target="_blank" class="me"><span>sistemacesic@hotmail.com</span></a></li>
          <li><a href="#" class="tf"><span>9686610136</span></a></li>
          <li><a href="https://twitter.com/SistemaCesic" target="_blank" class="tw" ><span>@SistemaCesic</span></a></li>
          <li><a  href="https://www.facebook.com/SistemaCesic" target="_blank" class="fc"><span>SistemaCesic</span></a></li>
        </ul>

        <nav>
          <ul >
            <li><a href='/'><span class="icon featured-icon  icon-home"></span>Inicio</a></li>
            <li><a href='/ofertaEducativa'><span class="icon featured-icon  icon-group"></span>Aspirantes</a>
              <ul class="OE">
                <li><a href='/ofertaEducativa#LSistemas'>Licenciaturas</a></li>
                <li><a href='/ofertaEducativa#Computo'>Carreras Tecnicas</a></li>
                <li><a href='/ofertaEducativa#Prepa'>Preparatoria</a></li>  
                <li><a href='/ofertaEducativa#Idioma'>Ingles</a></li>
              </ul>
            </li>
            <li><a href='/nosotros'><span class="icon featured-icon  icon-exclamation-sign"></span>Nosotros</a>
              <ul class="NS">
                <li><a href='/nosotros#QSomos'>Quienes Somos</a> </li>
                <li><a href='/nosotros#mision'>Mision</a></li>
                <li><a href='/nosotros#vision'>Vision</a></li>
                <li><a href='/nosotros#valores'>Valores</a></li>
                <li><a href='/directorio'>Directorio</a></li>
              </ul>
            </li>
            <li><a href='/contacto'><span class="icon featured-icon  icon-envelope-alt"></span>Contacto</a></li>
            <li><a href='/login'><span class="icon featured-icon  icon-signin"></span>SAED</a></li>
          </ul>
        </nav >
        </section> 
        </section>
      </header>
      
      <section class="contenido"> 
        {% block contenido %}
        


        {% endblock contenido %}
      </section>               

        <footer>
            <img src="{{ STATIC_URL}}img/map.png" >
            <p>Contacto:<span> Calle Central S/N Barrio Concepción Copainala, Chiapas,C.P 29620 </span></p>
            
        </footer>
        <div id="Autor">
          <p>© 2014 <span>JAED - Todos los derechos reservados</span></p>
        </div>
    </section>
    


  </body>

        {% block script %}
      


        {% endblock script %}

  <script type="text/javascript">

  $(document).ready(function(){
     var alto = $(window).height()-130;
     var ancho = $(window).width();
     $(".contenido").css("min-height",alto);
     $("#loginbg").css("min-height",alto-190);
     if (ancho < 800){
           $(".da-img img").css('opacity', '.5');
           $(".da-slide p").css('width', '90%');
           $(".da-slide p").css('color', '#1E1E1E');
           $(".da-slide p").css('font-weight', 'bold');
      }
          else{
          $(".da-img img").css('opacity', '1');
          $(".da-slide p").css('width', '45%')
          $(".da-slide p").css('color', ' #666');
          $(".da-slide p").css('font-weight', '400');

      }

  $(window).bind("resize", resizeWindow);
    function resizeWindow(e) {
      var alto = $(window).height()-130;
      var ancho = $(window).width();

     $(".contenido").css("min-height",alto);
     $("#loginbg").css("min-height",alto-190);

      if (ancho < 800){
           $(".da-img img").css('opacity', '.5');
           $(".da-slide p").css('width', '80%');
           $(".da-slide p").css('color', '#1E1E1E');
           $(".da-slide p").css('font-weight', 'bold');
      }
      else{
           $(".da-img img").css('opacity', '1');
           $(".da-slide p").css('width', '45%')
           $(".da-slide p").css('color', ' #666');
           $(".da-slide p").css('font-weight', '400');
      }
    }

  });  


</script> 


</html>